.wrap {
  display: flex;
  justify-content: start;
}

.wrap_me {
  display: flex;
  justify-content: end;
}

.content {
  display: block;
  margin-bottom: 10px;
}

.date {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;

  color: #696868;
}

.container {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  width: max-content;
  max-width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 10px 5px 10px 15px;
  background-color: #ffffff;

  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid #696868;
}

.me {
  background-color: #b6ffb4;
  border: none;
  color: #0f0f0f;
}

.data {
  display: flex;
  align-items: center;
}
